<header>
  <nav class="navbar container">
    <div class="navbar__logo flexWrap_center" routerLink="/">
      <img
        src="../../../assets/icon.svg"
        alt="home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      />
      <span [class]="screenSize < 575 ? 'hiddenElem': null">Blog</span>
    </div>
    <div class="navbar__search">
      <input type="text" placeholder="Поиск по постам..." />
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        class="bi bi-search"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"
        />
        <path
          fill-rule="evenodd"
          d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"
        />
      </svg>
    </div>
    <div class="navbar__auth flexWrap">
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        class="bi bi-person-fill"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
        />
      </svg>
      <span>Вход</span>
    </div>
  </nav>
</header>
