:root {
  --headerBgColor: #1976d2;
  --headerHeight: 50px;
  --footerBgColor: #145ca3;
  --footerHeight: 45px;
  --borderColor: #ccc;
  --borderRadius: 15px;
  --darkColor:#181818;
  --lightColor:  #f9f9f9;
  --hoverColor: orange;
}
