:root {
  --headerBgColor: #1976d2;
  --headerHeight: 50px;
  --footerBgColor: #145ca3;
  --footerHeight: 45px;
  --borderColor: #ccc;
  --borderRadius: 15px;
  --darkColor: black;
  --lightColor: white;
  --hoverColor: orange;
}
