@import "./styles/reboot.scss";
@import "./styles/variables.scss";
@import "./styles/flexWraps.scss";

main {
  margin-top: var(--headerHeight);
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
}

.container {
  max-width: 1100px;
  padding: 0 1rem;
  margin: 0 auto;
}

.hiddenElem {
  display: none;
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 0.3rem;
  }
  body {
    font-size: 15px;
  }
  h2 {
    font-size: 25px;
  }
}
